.App {
  text-align: center;
}
ul{
  padding-left: 0px;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}
body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.sidebar{
  width: 200px;
  padding: 30px;
  position: fixed;
}
li{
  list-style: none;
  text-align: left;
  list-style: none;
  line-height: 1.4em;
}
h1{
  font-size: 15px;
  float: left;
  padding-bottom: 20px;
}
.container{
  margin-top: 50px;
  width: 800px;
  display: flex;
  flex-direction: row;
  margin-left: 270px;
  float: left;
}
.col{
  flex-grow: 4;
  /* flex-shrink: 4; */
  /* flex-basis: 360px; */
  margin: 20px;
}
.col img{
  /* width: 100%; */
  height: auto;
  display: inline-block;
  margin: 20px auto;
  background-color: black;
}

.placeholder{
  max-width: 100%;
  display: inline-block;
  margin: 20px auto;
  background-color: black;
}