.App {
  text-align: center;
}
ul{
  padding-left: 0px;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}
body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.sidebar{
  width: 200px;
  padding: 30px;
  position: fixed;
}
li{
  list-style: none;
  text-align: left;
  list-style: none;
  line-height: 1.4em;
}
h1{
  font-size: 15px;
  float: left;
  padding-bottom: 20px;
}
.container{
  float: left;
  width: 75%;
  margin-left: 280px;
}
.col{
  margin-top: 120px;
  width: 29%;
  float: left;
  margin-right: 50px;
}
.col:last-of-type{
  margin-right: 0px;
}
.img-container-wrapper{
    width: 100%;
    position: relative;
    background: #fff;
    margin-bottom: 80px;
}
.stream-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.img-caption{
  background-color: white;
  font-size: 13px;
  left: 0px;
  display: inline;
  color: black;
  position: absolute;
  bottom: -35px;
}

@keyframes fadeInCaption{
  from{
    opacity: 0;
    bottom: -75px;
  }
  to{
    opacity: 1;
    bottom: -35px;
  }
}

@keyframes fadeInImg{
  from{
    opacity: 0;
    top: 40px;
  }
  to{
    opacity: 1;
    top: 0px;
  }
}

.caption-loading{
  opacity: 0;
}
.caption-loaded{
  animation: fadeInCaption cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

.img-loading{
   opacity: 0;
}
.img-loaded{
   cursor: pointer;
   animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
   opacity: 0;
   animation-fill-mode: both;
   animation-duration: 0.7s;
   animation-delay: 0.1s;
}